body {
	font-size: 13px;
}

body.modal-open {
    overflow: hidden;
}

textarea {
	resize: none;
}

form {
	margin-top: 15px;
}

.bold {
	font-weight: bold;
}

.menu-wrapper {
	height: 35px;
	background: #555;
	margin-bottom: 1%;
}

.menu {
	list-style: none;
}

.menu li {
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
}

.menu li.selected {
	background-color: #118ade;
}

.menu li a {
	color: #fff;
}

.menu li a:hover {
	color: #fff;
}

.hidden {
	display: none;
}

.ui-dialog-titlebar {
	/*display: none;*/
}

.spinner {
	background-image: url(../images/big-spinner.gif);
	display: block;
	height: 66px;
	width: 66px;
	margin: 10px auto;
}

.error {
	color: #a94442;
	width: 95%;
	background: #f2dede;
	background: #f2dede !important;
	padding: 10px 0 10px 5px;
	margin: 10px 2% 10px 2%;
	border: 1px solid #ebccd1;
	border: 1px solid #ebccd1 !important;
}

.graph {
	height: 300px;
	width: 815px;
	margin: 10px 0 30px 0;
}

/* tilt labels on x axis of flot graphs */
.graph div.xAxis div.tickLabel {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
}

.search input, .search select {
	width: 95%;
	margin: 5px 2% 10px 2%;
}

.search input {
	height: 8px;
}

.new_job label, .search label {
	margin-left: 2%;
}

.search label {
	display: block;
}

.fourth_col {
	padding: 0 2%;
	width: 21%;
	float: left;
}

.clear {
	clear: both;
}

.input_details {
	float: left;
	width: 31%;
	padding: 0 0 0 3%;
	border-left: 1px dashed #ccc;
}

.input_details.first {
	padding: 0;
	border: 0;
}

.running_projects {
	width: 96%;
	margin: 0 2%;
}

.running_projects .icon {
	float: left;
	width: 5%;
}

.running_projects .project_content {
	display: inline-block;
	width: 95%;
}

.running_projects h2 {
	font-size: inherit;
	margin: 0 0 5px 0;
	padding: 0;
}

.accordion_content span {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.accordion_content .compound_disp {
	width: 10% !important;
}

.refresh-all input {
	height: auto;
	margin: -2px 0 0 0 !important;
}

.running_projects input.button, .refresh-all .button {
	width: auto;
	padding: 5px 20px;
	margin: 0 10px 15px 0;
	border: 1px solid #999;
	background: #fff;
}

.running_projects input.button:hover, , .refresh-all .button {
	border: 1px solid #000;
	background: #999;
}

.download_slider {
	margin: 15px 10px 15px 0;
	width: 85%;
	float: left;
}

input.download_input {
	float: left;
	width: 8%;
	margin: 13px 0;
	padding: 0;
}

label.download_input {
	float: left;
	width: 2%;
	margin: 13px 0 13px 3px;
	padding: 0;
}

.header.green {
	background-color: #dff0d8;
}

.header.light-blue {
	background-color: #d9edf7;
}

.header.orange {
	background-color: #f6e4cc;
}

.header.yellow {
	background-color: #fcf8e3;
}

.header.red {
	background-color: #f2dede;
}

.submissions {
	width: 100%;
}

.submission {
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
	padding: 10px;
}

.submission .status {
	width: 10%;
}

.submission .submissionIO {
	width: 60%;
}

.submission .buttons {
	width: 30%;
}

.data-list {
	list-style: none;
}

.data-item span {
	margin: 0;
}

.admin_view {
	width: 10%;
	margin-left: 2%;
	display: inline-block;
}

.admin_view label {
	margin: 0;
	display: inline;
}

.admin_view input {
	margin: 0 0 0 5px !important;
	height: 20px;
	display: inline;
}

.refresh-all {
	width: 10%;
	margin-left: 2%;
	display: inline-block;
}

table.ligands-table {
	width: 100%;
}

table.ligands-table tr.header-row {
	font-weight: bold;
	font-size: 14px;
}

table.ligands-table tr td {
	padding: 3px 10px;
	border-bottom: 1px solid #ccc;
}